/* --------------------------------------------------------------------------------
Grid
-------------------------------------------------------------------------------- */

.grid {
  display: flex;
  flex: 0 1 auto;
  /* defaults to 'row' */
  flex-direction: row;
  flex-wrap: wrap;
  /* defaults to 'flex-start' */
  justify-content: flex-start;
  align-items: flex-start;
}

.grid-col {
  flex: 0 0 auto;
  padding: 0 0.5rem 0.5rem;
  box-sizing: border-box;
}

.grid-col_1 {
  flex-basis: 8.33333333%;
  max-width: 8.33333333%;
}

.grid-col_2 {
  flex-basis: 16.66666667%;
  max-width: 16.66666667%;
}

.grid-col_3 {
  flex-basis: 25%;
  max-width: 25%;
}

.grid-col_4 {
  flex-basis: 33.33333333%;
  max-width: 33.33333333%;
}

.grid-col_5 {
  flex-basis: 41.66666667%;
  max-width: 41.66666667%;
}

.grid-col_6 {
  flex-basis: 50%;
  max-width: 50%;
}

.grid-col_7 {
  flex-basis: 58.33333333%;
  max-width: 58.33333333%;
}

.grid-col_8 {
  flex-basis: 66.66666667%;
  max-width: 66.66666667%;
}

.grid-col_9 {
  flex-basis: 75%;
  max-width: 75%;
}

.grid-col_10 {
  flex-basis: 83.33333333%;
  max-width: 83.33333333%;
}

.grid-col_11 {
  flex-basis: 91.66666667%;
  max-width: 91.66666667%;
}

.grid-col_12 {
  flex-basis: 100%;
  max-width: 100%;
}

.rules-box {
  position: relative;
  width: 100%;
  height: 25vh; /* Full viewport height */
  overflow: hidden;
  background-color: rgb(76, 66, 66); /* Background color of the rules box */
  display: flex;
  align-items: center; /* Center items vertically */
  justify-content: center; /* Center items horizontally */
}

.slider {
  width: 100%;
  overflow: hidden;
}

.list {
  display: flex;
  transition: transform 0.5s ease-in-out;
  list-style: none;
  padding: 0;
  margin: 0;
}

.list li {
  min-width: 100%;
  box-sizing: border-box;
  color: white; /* Text color */
  display: flex;
  align-items: center; /* Center text vertically */
  justify-content: center; /* Center text horizontally */
  font-size: 1.2em; /* Adjust text size as needed */
  padding: 20px; /* Add padding around text */
  text-align: center;
}

.rules-box h2 {
  position: absolute;
  top: 20px;
  left: 50%;
  transform: translateX(-50%);
  color: white;
  font-size: 2em;
  margin: 0;
  z-index: 1; /* Ensure the heading is above other elements */
}

.list li {
  background: rgba(211, 211, 211, 0.7); /* Light grey transparent background */
  border-radius: 8px; /* Rounded corners */
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Optional: adds shadow for better visual effect */
}

